.bg {
  background: #26273d;
}
.small {
  color: #ffff;
  margin-left: 5px;
}
.btn25 {
  background-color: #e9a1a1;
}
.btn50 {
  background-color: #e66e6e;
}
.btn75 {
  background-color: #e44141;
}
.btn100 {
  background-color: #e11010;
}
.item-md.item-block .item-inner {
  padding-right: 8px;
  border-bottom: 1px solid #26273d;
}
.btnRelax {
  background-color: #5bd08d;
}
.btnContract {
  background-color: #eac32e;
}
